/*******************PAGE RESET RULES*********************/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display:block;
}

/*************************GLOBAL****************************/
.main-top {
	margin-top: 120px;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1 {
	font-family: linotype-didot-headline, serif;
	font-weight: 400;
	font-size: 2.2rem;
}

h2 {
	font-family: linotype-didot-headline, serif;
	font-weight: 400;
	font-size: 2rem;
}

h3 {
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
	font-size: 1.3rem;
}

p {
	font-family: myriad-pro, sans-serif;
	font-weight: 300;
	font-size: 1rem;
}

/***************************NAV*****************************/
.navbar-dark {
	background-color: transparent !important;
}

.flower-nav {
	display: none;
}

.header-logo-text {
	max-width: 190px;
	width: 90%;
	margin-left: 15px;
}

nav .btn {
	padding: 5px 0;
	max-width: 225px;
	width: 50%;
	background-color: #E0AB26;
	color: #fff;
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase;
	border: 2px solid #E0AB26;
	border-radius: 6px;
	margin-left: 10px;
	white-space: nowrap;
	margin-top: 10px;
	margin-bottom: 20px;
}

nav .btn:hover {
	color: #E0AB26;
	background-color: #fff;
	border: 2px solid #E0AB26;
	transition: 0.7s;
}

.navbar-nav {
	padding-left: 15px;
	padding-right: 15px;
}

.nav-item {
	padding: 0 1%;
}

.navbar-nav, .nav-link {
	color: #fff!important;
	font-weight: 600;
	font-family: myriad-pro, sans-serif;
	font-size: .875rem;
	text-transform: uppercase;
}

a.nav-link {
	white-space: nowrap;
}

a.nav-link:hover {
	color: #E0AB26 !important;
}
/*****************************************************************/


/************************HOMEPAGE: HEADER**************************/
.logo-container {
	padding-top: 50px;
	text-align: center;
	height: auto;
}
.main-categories {
	background-image: url(../images/homeheader-bk.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20px;
	text-align: center;
}

.main-categories-grid img {
	max-width: 300px;
	width: 90%;
	height: auto;
	margin-top: 25px;
	padding: 10px 0px 10px 0px;
	transition: all .2s ease-in-out;
}

.main-categories-grid img:hover {
	transform: scale(1.1);
}

.header-logo {
	width: 40%;
	max-width: 400px;
	min-width: 290px;
	padding: 35px 20px 30px 20px;
	height: auto;
}

.main-categories h1 {
	color: #fff;
	padding-top: 0px;
	margin-top: 0px;
}

.main-cat-button {
	margin: 40px 0 30px;
}

.main-cat-button a, .main-story-button a {
	max-width: 350px;
	width: 80%;
	margin: 0 auto;
	padding: 10px 25px 10px 25px;
	border: 2px solid #D6A09A;
	border-radius: 6px;
	background-color: #D6A09A;
	color: #fff;
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
	font-size: 22px;
	text-transform: uppercase;


}

.main-cat-button a:hover, .main-story-button a:hover {
	color: #D6A09A;
	background-color: #fff;
	border: 2px solid #D6A09A;
	transition: 0.7s;
}

/************* HOMEPAGE: MAIN PRODUCTS SECTION*****************/
.main-products {
	text-align: center;
	padding: 40px;
	max-width: 1200px;
}

.main-products-grid .circle {
	border-radius: 100px;
	display: flex;
	border: 2px solid #E0AB26;
	width: 145px;
	height: 145px;
	margin: 0 auto;
	transition: all .3s ease;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

.main-products-grid .circle:hover {
	box-shadow: inset 0 0 0 8px #E0AB26;
	box-shadow: inset 0 0 0 8px #E0AB26;
	transform: rotateZ(-13deg);
}

.main-products h2 {
	color: #27405D;
	padding-top: 15px;
	margin-top: 0px;
}

.main-products h3 {
	color: #27405D;
	padding-top: 0px;
	margin-top: 10px;
}

.main-prod-box {
	margin-top: 30px;
}

.main-products p {
	margin-top: 0px;
	margin-bottom: 2px;
	white-space: nowrap;
	color: #27405D;
	line-height: 1.5;
}

/**************HOMEPAGE: OUR STORY SECTION************************/
.main-story {
	background-image: url(../images/home-story.png);
	background-position-x: 90%;
	background-color: #27405D;
	background-size: cover;
	background-position: inherit;
	background-repeat: no-repeat;
	height: 570px;
	transition: 0.6s linear;
}

.main-story .article-wrapper {
    vertical-align: middle;
	height: 655px;
    background-color: #27405D;
	padding: 20px 9% 20px;
	margin-bottom: 20px;
}

.main-story-article {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}

.main-story-article h2 {
	color: #fff;
	padding-top: 0px;
	margin-top: 8px;
}

.main-story-article p {
	color: #fff;
	line-height: 1.5;
	margin-top: 10px;
}

.main-story-button {
	text-align: center;
}
/**************HOMEPAGE: SOCIAL + FEED SECTION************************/

.main-social {
	text-align: center;
	margin: 108px 25px 30px 25px;
}
.main-social h2 {
	color: #27405D;
	padding-top: 15px;
	margin-top: 0px;
}
.social-icons-wrapper {
	text-align: center;
	margin: 0 auto;
	max-width: 400px;
	width: 90%;
}
.main-social-icons.row {
	justify-content: center;
	text-align: center;
	margin: 20px;
}

.social-row {
	display: flex;
	justify-content: center;
}

.social-icon {
	margin: 10px 5%;
}

.face-yellow {
	width: 20px;
}

.sy-slides-wrap {
    margin: -30px auto 0 !important;
}

/*****************HOMEPAGE: TESTIMONIAL SECTION***********************/
.main-testimonials {
	text-align: center;
	margin: auto;
	background-color: #CFD5DE;
	padding: 40px 10% 0;
}

.testimonials-box {
	margin-bottom: 20px;
}

.main-testimonials-carousel img {
	width: 210px;
}

.main-testimonials h2 {
	color: #27405D;
	padding-top: 15px;
	margin-top: 0px;
}

.main-testimonials p {
	color: #27405D;
	line-height: 1.5;
	margin-top: -30px;
}

.testimonials-p {
	margin-bottom: -6px;
}
/*********************************************************************/

/************************OUR STORY***********************************/
.fam-photo{
	display: none;
}

.mobile-family {
	text-align: center;
	margin: 10px 0;
}

.family {
	max-width: 500px;
	width: 90%;
	margin-bottom: 5px;
}

.family-video {
	width: 90%;
	height: 305px;
}

.our-story-media {
	text-align: center;
}

.story-flower {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

.about-company-values {
	background-color: #E9C4C0;
	padding: 20px 9%;
	text-align: center;
	margin: 20px 0px 0px !important;
}

.about-company-values p {
	color: #000;
	text-align: left;
	padding-left: 10px;
	max-width: 350px;
	width: 100%;
	display: inline-block;

}

.icons-companyvalues {
	max-width: 80px;
	min-width: 50px;
	height: auto;
	margin: 20px;
}

.navy-header {
	font-family: linotype-didot-headline, serif;
	font-weight: 400;
	color: #27405D;
	font-size: 50px;
	padding-top: 15px;
	margin-top: 0px;
}

.values-title {
	color: #27405D;
}
/***********************************************************************/

/********************************COLORS*********************************/
.paint-img {
	padding-left: 0px;
	padding-right: 0px;
	background-image: url("../images/Ccp-decorpaint.png");
	background-size: cover;
	background-position: center center;
	min-height: 450px;
	background-color: #cccccc;
}

.colors-box {
	background-color: #CEC7BA;
	padding: 20px 10%;
}

.colors-box h2 {
	color: #26405d;
	font-weight: 600;
}

.colors-box p {
	color: #26405d;
}

.all-colors {
	margin: 20px 3% 60px;
}

.color-circle {
	text-align: center;
	margin-top: 40px !important;
}

.all-colors a {
	color: #000;
	text-decoration: none;
}

.color-circle {
	transform: scale(1.1);
}

.all-colors svg:hover, .all-colors h5:hover {
	transform: scale(1.1);
}

.all-colors h5 {
	margin-top: 10px;
}


/**********************************************************************/

/******************************TUTORIALS*******************************/
.tutorials-info h2 {
	color: #DAAAA4;
	padding-top: 10px;
}

.tutorials-info a {
	color: #E0AB26;
	text-decoration: none;
	font-weight: 600;
}

.tutorials-box h3 {
	color: #27405D;
	padding: 15px;
}

.tutorials-box {
	height: 900px;
	overflow: auto;
}

.video-box {
	background-color: #CFD5DE;
	margin: 25px 5%;
}

.video-box p {
	color: #27405D;
	padding-left: 15px;
}

.video-box a {
	font-family: myriad-pro, sans-serif;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
}

.video {
	width: 100%;
	height: 250px;
}

.col-xs-tutorials {
	margin-left: 27px;
	margin-right: -15px;
	margin-bottom: 15px;
}
/***********************************************************************/

/******************************CONTACT*********************************/

.get-in-touch {
	padding: 110px 9% 40px;
	font-family: myriad-pro, sans-serif;
	background-color: #E9C4C0;
	color: #27405d;
}

.contact-section-one {
	margin-top: 20px;
}

.get-in-touch h2 {
	padding-left: 30px;
	font-weight: bold;
}

.get-in-touch p {
	padding-left: 30px;
}

.col-sm-8.storefront-img {
	padding-left: 0px;
	padding-right: 0px;
	background-image: url("../images/storefront.png");
	background-size: cover;
	background-position: center center;
	min-height: 300px;
	background-color: #cccccc;
}

.contact-info {
	background-color: #CFD5DE;
	color: #27405D;
	padding: 75px;
}

.contact-form {
	padding: 70px;
	font-family: myriad-pro, sans-serif;
	font-size: 20px;
	color: #27405D;
}

.message {
	margin-bottom: 45px;
}

.contact-form .btn-primary {
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
	color: #fff;
	background-color: #D6A09A;
	border-color: #D6A09A;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}

.contact-form .btn-primary:hover {
	color: #D6A09A;
	background-color: #fff;
	border-color: #E9C4C0;
}

.contact-info .btn-light {
	color: white;
	background-color: #DFA91E;
	border-color: #DFA91E;
	font-weight: 600;
	text-transform: capitalize;
}

.contact-info .btn-light:hover {
	background-color: #27405d;
	border-color: #27405d;
}

label {
	display: inline-block;
	margin-bottom: 8px;
	margin-top: 8px;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 25px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #CFD5DE;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/***********************************************************************/

/**********************************FOOTER******************************/
footer {
	background-color: #27405D;
}

footer .img-fluid {
	max-width: 350px;
	width: 90%;
    padding: 20px;
    margin: 0 auto;
    display: block;
}

.footer-grid h2 {
	color: #fff;
	font-size: 2rem;
	padding-top: 0px;
	margin-top: 0px;
}

.footer-grid {
	padding: 10px 4%;
	margin-bottom: 20px;
}

.footer-links-box {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

footer .list-unstyled {
	text-align: left !important;
	margin-left: 30px;
}

footer .links-left {
padding-left: 20px;
}

footer .list-unstyled a {
	color: #fff;
	line-height: 2;
	white-space: nowrap;
}

.footer-social {
	padding: 1px 0;
	background-color: #E0AB26;
}
/******************************************************************/

/****************************MEDIA QUERIES*************************/
@media(min-width: 320px) {
	.main-story-button a {
	    margin: 25px auto 0;
	}

	.main-story-flower {
		margin-top: 20px;
	}
	.logo-container {
		display: none;
	}
	.main-categories {
		padding-top: 125px;
	}
}

@media(min-width: 400px) {
	.flower-nav {
		display: inline-block;
	}

	.main-story .article-wrapper {
    	height: 600px;
	}

	.main-social {
		text-align: center;
		margin: 75px 25px 30px 25px;
	}
	.logo-container {
		display: none;
	}
}

@media(min-width: 576px) {
	.main-story .article-wrapper {
    	height: 570px;
	}

	.social-row {
		justify-content: space-around;
	}

	.get-in-touch {
		padding: 70px 3% 40px;
	}

	.contact-section-one {
		margin-top: 70px;
	}
	.logo-container {
		display: none;
	}
}

@media(min-width: 768px) {
	h1 {
		font-size: 2.4rem;
	}

	h2 {
		font-size: 2.2rem;
	}

	h3 {
		font-size: 1.4rem;
	}

	p {
	font-size: 1.1rem;
	}

	.main-story .article-wrapper {
		width: 60vw;
		float: right;
		padding: 40px 50px 0px 30px;
		height: 570px;
	}

	.main-story-flower {
		margin-top: 0px;
	}

	.main-story-button a {
	    margin: 0 auto;
	}

	.colors-box {
		padding: 140px 3%;
	}

	footer {
		padding: 20px 0px 0px 0px;
	}

	footer .list-unstyled a {
		font-size: .95rem;
	}
	.logo-container {
		display: none;
	}
}

@media(min-width: 848px) {

	.main-story-button a {
		margin: 15px auto 0;
	}
	.logo-container{
		display: none;
	}
}

@media(min-width: 992px) {

	h1 {
		font-size: 2.7rem;
	}

	h2 {
		font-size: 2.4rem;
	}

	h3 {
		font-size: 1.6rem;
	}

	nav .btn {
		margin-top: 0;
		margin-bottom: 0;
	}

	.active {
		border-bottom: 1px solid #74A6D6 !important;
	}

	.main-testimonials {
		padding: 40px 5% 0;
	}

	.mobile-family {
		display: none;
	}

	.fam-photo{
		display: inline-block;
	}

	.story-flower {
		margin-left: 0;
	}

	.main-story {
	background-position: bottom;
	}

	.main-story-article {
		max-width: 700px;
}
	.logo-container {
		display: block;
	}
	.main-categories {
		padding-top: 20px;
	}
}
@media(min-width: 1054px) {
	footer h2 {
		text-align: left;
	}

	footer .list-unstyled {
	 	margin-left: 0px;
	}

	footer .list-unstyled a {
	 	font-size: 1rem;
	}
}

@media(min-width: 1222px) {
	.navbar-nav, .nav-link {
		font-size: 1rem;
	}

	nav .btn {
		font-size: 1.375rem;
	}

	p {
	font-size: 1.2rem;
	}
}
/*******************************************************************/
