/*******************PAGE RESET RULES*********************/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display:block;
}
/********************************************************/



/************************HEADER**************************/
.logo-container {
	text-align: center;
	height: auto;
}
.main-categories {
	background-image: url(../images/homeheader-bk.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20px;
	text-align: center;
}

.main-categories-grid img {
	width: 300px;
	height: auto;
	margin-top: 25px;
	padding: 10px 0px 10px 0px;
	transition: all .2s ease-in-out;
}

.main-categories-grid img:hover {
	transform: scale(1.1);
}

.header-logo {
	width: 40%;
	max-width: 400px;
	min-width: 290px;
	padding: 20px 20px 50px 20px;
	height: auto;
}

.main-categories h1 {
	font-family: linotype-didot-headline, serif;
	font-weight: 400;
	color: #fff;
	font-size: 50px;
	padding-top: 0px;
	margin-top: 0px;
}

.main-cat-button {
	margin: 40px 20px 20px 20px;
}
.main-cat-button a {
	padding: 10px 25px 10px 25px;
	width: 350px;
	background-color: #D6A09A;
	color: #fff;
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
	font-size: 22px;
	text-transform: uppercase;
	border: 2px solid #D6A09A;
	border-radius: 6px;
}

.main-cat-button a:hover {
	color: #D6A09A;
	background-color: #fff;
	border: 2px solid #D6A09A;
	transition: 0.7s;

}
/********************************************************/

/************************FONTS**************************/


/********************************************************/



/*******************HAMBURGER MENU***********************/

/********************************************************/



/********************MEDIA QUERIES************************/

/********************************************************/
